@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* change text-align, direction & font when language is changed. */
  text-align: right;
  font-family: 'Amiri', serif;
  /* font-family: 'PT Serif', serif; */
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: white;
  direction: rtl;
}

/************* GENERIC CLASSES *************/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.light {
  background-color: #343434;
}

.dark {
  background-color: #232323;
}

.title_container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin: 10vh 0 30px;
}

.title_container .horizontal_line {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  content: '';
  width: 15vw;
  height: 3px;
  background: url("images\\gold-texture.jpg");
  border-radius: 5px;
  color: transparent;
  background-size: cover;
  background-clip: text;
}

.title_container .vertical_line {
  margin: 0 20px 0 15px;
  content: '';
  width: 3px;
  height: 40px;
  border-radius: 5px;
  background: url("images\\gold-texture.jpg");
  color: transparent;
  background-size: cover;
  background-clip: text;
}

.title_container .text {
  font-size: 2.2rem;
  background: url("images\\gold-texture.jpg");
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

/************* NAVBAR *************/
.hamburger_icon {
  display: none;
}

.navbar_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: black;
}

.navbar_container .navlinks_subcontainer {
  margin-right: 15px;
  font-size: 1.4rem;
}

.navbar_container .navlinks_subcontainer .current_language {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("images\\flags\\Egyptian.png");
  background-size: cover;
  background-position: center;
  margin: 0 5px 0 8vw;
  border: 1px solid gold;
  border-radius: 50px;
  cursor: pointer;
}

.language_menu {
  display: none;
  position: absolute;
  background-color: black;
  border-radius: 5px;
}

.navlinks_subcontainer .language_menu .language {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.language:hover {
  background-color: rgb(255, 255, 255, 0.8);
  color: black;
}

.navbar_container .navlinks_subcontainer .flag {
  max-height: 25px;
  max-width: 25px;
  border-radius: 50px;
  border: 1px solid gold;
  margin-left: 20px
}

.navbar_container .navlinks_subcontainer a {
  margin-left: 5vw;
}

.navbar_container .navlinks_subcontainer a:hover {
  color: gold;
}

.navbar_container .navlinks_subcontainer .contact-us_btn {
  background: url("images\\gold-texture.jpg");
  background-size: contain;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar_container .navlinks_subcontainer .contact-us_btn:hover {
  color: #232323;
}

.logo_container {
  position: relative;
  width: 90px;
  height: 70px;
  margin-left: 9vw;
  text-align: center;
}

.logo_container img {
  width: 90px;
  height: 70px;
}

.logo_container .logo_text {
  position: absolute;
  bottom: 0px;
  font-size: 1rem;
  line-height: 0.9rem;
  left: 50%;
  transform: translate(-50%, 0);
}

/************* HEADER *************/
.header_div {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images\\header.jpg");
}

.header_text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 2vw;
  color: white;
}

/************* ABOUT-US SECTION *************/
#about-us .text_container p {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

#about-us .text_container span {
  font-weight: bold;
}

#about-us .lawyers_container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 5vh auto 0;
}

#about-us .lawyers_container .lawyer_subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 5vw 10vh;
}

#about-us .lawyers_container .lawyer_subcontainer img {
  height: 400px;
  width: 275px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

/************* SERVICES SECTION *************/
.services_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.service_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: 10px 7%;
  padding: 20px;
  border: solid thin #C1A57B;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(238, 238, 238, 20%);
  background-color: #343434;
  cursor: pointer;
}

.service_name_icon_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.active_card, .service_card:hover {
  background-color: #232323;
}

.service_icon {
  height: 50px;
  width: 50px;
  margin-left: 25px;
}

.service_card h3 {
  font-size: 1.3rem;
}

.service_details {
  display: none;
  max-height: 0;
  margin: 2% 12% 0 5%;
  font-size: 1.1rem;
  color: #cccccc;
  transition: max-height 0.3s ease-out;
}

/************* CONTACT-US SECTION *************/
#contact-us {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("images\\contact-us.jpg");
}

#contact-us .contact-us_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#contact-us .contact-us_container .details_column {
  margin-bottom: 5vh;
  width: auto;
}

#contact-us .contact-us_container .details_column .contact {
  display: flex;
  margin: 0 8vw;
}

.contact a {
  height: 40px;
}

.contact img {
  height: 25px;
  width: 25px;
  margin: 0 0 15px 25px;
}

.contact img:hover {
  opacity: 0.5;
}

.contact p {
  direction: ltr;
  font-family: 'PT Serif', serif;
}

/************* FOOTER *************/
.copyright_container {
  display: flex;
  justify-content: space-between;
  direction: ltr;
  width: 100vw;
  font-size: 0.8rem;
  color: #bbbbbb;
}

.copyright_container .copyright {
  margin: 0 auto;
  transform: translateX(-20px);
}

.copyright_container .created-by {
  margin-left: 20px;
}

.created-by a {
  color: #03a9f4;
}

@media only screen and (max-width: 750px) {

  /* GENERIC -------------------------------------------- */
  .title_container .horizontal_line {
    display: none;
  }

  .title_container .vertical_line {
    margin: 0 25px 0 15px;
  }

  /* NAVBAR -------------------------------------------- */
  .hamburger_icon {
    display: block;
    margin: 2%;
  }

  .hamburger_icon i {
    margin-right: 10px;
  }

  .navbar_container .navlinks_subcontainer .language {
    display: none;
    margin-left: 0;
  }

  .navbar_container .navlinks_subcontainer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 70px);
    position: fixed;
    z-index: 1;
    font-size: 1.7rem;
    margin-right: 0;
    top: 70px;
    right: 0;
    background-color: rgb(0, 0, 0, 0.9);
    animation: open 0.4s ease-in forwards;
  }

  @keyframes open {
    0% {
      width: 0;
    }

    100% {
      width: 100vw;
    }
  }

  .navbar_container .navlinks_subcontainer a {
    margin-left: 0;
  }

  .logo {
    margin-left: 1%;
  }

  /* HEADER -------------------------------------------- */
  .header_div {
    min-height: 70vh;
  }

  .header_text h1 {
    text-align: center;
    width: 240px;
    font-size: 1.9rem;
    line-height: 2.6rem;
  }

  /* ABOUT-US -------------------------------------------- */
  #about-us .text_container p {
    font-size: 1.2rem;
    margin: 0 50px 30px 30px;
  }

  #about-us .lawyers_container .lawyer_subcontainer img {
    height: 300px;
    width: 225px;
  }

  /* OUR SERVICES ------------------------------------- */
  .service_card {
    width: 75vw;
    margin: 0 0 15px;
    padding: 10px;
  }

  .service_icon {
    margin-left: 20px;
  }

  .service_card h3 {
    font-size: 1.2rem;
  }

  /* FOOTER -------------------------------------------- */
  .copyright_container .copyright {
    margin: 0;
    transform: translateX(-10px);
  }
}
